{#
/**
 * @file
 * Template for user search popup.
 */
#}

{{ help_message }}

<!-- Begin - form -->
<form id="user-search">
  <div class="form-group">
    <label class="control-label" for="user-search-input">
      {{ 'Type name' | trans }}
    </label>

    <input class="form-control" type="text" id="user-search-input" name="user-name" value="">
  </div>

  <div>
    <input class="btn btn-secondary" type="submit" value="{{ 'Find' | trans }}">
  </div>
</form>
<!-- End - form -->

<!-- Begin - results -->
<br><br>
<h4><strong>{{ 'Search results' | trans }}</strong></h4>

<div id="user-list">
  {{ users_list }}
</div>

<div class="js-user-search-no-results hidden">
  {{ 'We found no users mathing the entered search criteria.' | trans }}
</div>
<!-- End - results -->

<script>
  (function() {
    var form = document.getElementById('user-search');
    var input = document.getElementById('user-search-input');

    function filterUsers(e) {
      e.preventDefault();

      var searchQuery = input.value;
      var userList = document.getElementById('user-list');
      var users = userList.getElementsByClassName('entity-list--user');
      var noResult = document.querySelector('.js-user-search-no-results');
      var regex = new RegExp(searchQuery, 'gi');
      var hasMatches = false;

      // Run through collection of users.
      for (i = 0; i < users.length; i++) {
        var user = users[i];
        var parentNode = user.parentElement;
        var name = user.dataset.fullName;

        // Does match search query.
        if (name.match(regex)) {
          parentNode.classList.remove('hidden');
          hasMatches = true;
        }
        // Does not match.
        else {
          parentNode.classList.add('hidden');
        }
      }

      if (hasMatches) {
        userList.classList.remove('hidden');
        noResult.classList.add('hidden');
      } else {
        userList.classList.add('hidden');
        noResult.classList.remove('hidden');
      }
    }

    form.addEventListener('submit', filterUsers);
    input.addEventListener('keyup', filterUsers);
  })();
</script>
