{#
/**
 * @file
 * Default theme implementation for decreto_notification entities.
 *
 * Available variables:
 * - $content: An array of comment items. Use render($content) to print them all, or
 *   print a subset such as render($content['field_example']). Use
 *   hide($content['field_example']) to temporarily suppress the printing of a
 *   given element.
 * - $meeting: Decreto meeting name related with with this note.
 * - $department: Decreto department name related with with this note.
 *
 * @see template_preprocess()
 * @see template_preprocess_decreto_annotator_note()
 * @see template_process()
 */
#}

<a href="{{ content['#path'] }}" class="entity-list-advanced entity-list-advanced--note element-wrapper-link">

  <!-- Begin - content -->
  <div class="entity-list-advanced__content">

    <!-- Begin - heading -->
    <div class="entity-list-advanced__heading">
      <h4 class="entity-list-advanced__heading__title">
        {{ content }}
      </h4>
    </div>
    <!-- End - heading -->

    <!-- Begin - footer -->
    <div class="entity-list-advanced__footer">
      <ul class="list-inline">
        <li class="text--secondary">
          {{ meeting }}
        </li>
        <li class="text--primary">
          {{ department }}
        </li>
      </ul>
    </div>
    <!-- End - footer -->

  </div>
  <!-- End - content -->

  <!-- Begin - published at -->
  <div class="entity-list-advanced__published-at">
    {{ date }}
  </div>
  <!-- End - published at -->

</a>
