{% set classes = [
  'boxy',
  node.bundle|clean_class,
  node.isPromoted() ? 'is-promoted',
  node.isSticky() ? 'is-sticky',
  not node.isPublished() ? 'is-unpublished',
  view_mode ? view_mode|clean_class,
  'clearfix',
] %}
<article{{ attributes.addClass(classes) }}>
  <div class="boxy__heading">

    <!-- Begin - metadata -->
    <div class="row">
      <div class="col-xs-12 col-md-7">

        <!-- Begin - title -->
        <h2 class="boxy__heading__title">
          <strong>
            {% if node.field_decreto_meet_department %}
              <a
                href="{{ path('entity.taxonomy_term.canonical', {'taxonomy_term': node.field_decreto_meet_department.entity.id}) }}">{{ node.field_decreto_meet_department.entity.getName }}</a>
            {% endif %}
            <span class="material-icons">keyboard_arrow_right</span>
            {{ node.getTitle }}
          </strong>
        </h2>
        <!-- End - title -->

      </div>
      <div class="col-xs-12 col-md-5">

        {# Begin - starting date #}
        {% if node.field_decreto_meet_start_date.value %}
          <div class="text--with-icon">
            <span class="material-icons">access_time</span>
            <strong>{{ content.field_decreto_meet_start_date }}</strong>
          </div>
        {% endif %}
        {# End - starting date #}

        {# Begin - location #}
        {% if node.field_decreto_meet_location.value %}
          <div class="text--with-icon">
            <i class="material-icons">person_pin_circle</i>
            <strong>{{ content.field_decreto_meet_location }}</strong>
          </div>
        {% endif %}
        {# End - location #}

        {{ decreto_context_menu }}
      </div>
    </div>
    <!-- End - metadata -->

  </div>
  <div class="boxy__body">
    <br>

    <!-- Begin - actions -->
    <div class="text-right">

      <!-- Begin - download full copy -->
      {% if (content.field_decreto_meet_full_doc['#items'].getValue()) %}
        <a
          href="{{ file_url(node.field_decreto_meet_full_doc.entity.uri.value) }}"
          class="btn btn-default" target="_blank">
          {{ "Download full copy" | trans }}
        </a>
      {% endif %}

      {% if (content.field_decreto_meet_full_doc_c['#items'].getValue()) %}
        <a
          href="{{ file_url(node.field_decreto_meet_full_doc_c.entity.uri.value) }}"
          class="btn btn-primary" target="_blank">
          {{ "Download full copy (closed)" | trans }}
        </a>
      {% endif %}
      <!-- End - download full copy -->

      <!-- Begin - edit -->
      {% if content['#access']['canEdit'] %}
        <a
          href="{{ path('decreto_content_modify.meetings_edit', {'meeting': node.id}) }}"
          class="btn btn-default use-ajax" data-dialog-type="modal">
          {{ "Edit meeting" | trans }}
        </a>
      {% endif %}
      <!-- End - edit -->

      <!-- Begin - delete -->
      {% if content['#access']['canDelete'] %}
        <a
          href="{{ path('entity.node.delete_form', {'node': node.id}) }}"
          class="btn btn-default use-ajax" data-dialog-type="modal">
          {{ "Delete meeting" | trans }}
        </a>
      {% endif %}
      <!-- End - delete -->

      <!-- Begin - own notes -->
      <a
        href="{{ path('view.decreto_notes.decreto_meeting_note_page', {'meeting': node.id}) }}"
        class="btn btn-default">
        {{ "Own notes" | trans }}
      </a>
      <!-- End - own notes -->

    </div>
    <!-- End - actions -->

    <br>

    <!-- Begin - search form -->
    <div class="boxy boxy--background-color-primary">
      <div class="boxy__heading">
        <h4 class="boxy__heading__title">
          {{ 'Filter bulletpoints' | trans }}
        </h4>
      </div>
      <div class="boxy__body">
        {{ search_in_meeting_form }}
      </div>
    </div>
    <!-- End - search form -->

    <br>

    {% if content['#access']['decreto_bullet_point']['canCreate'] %}
      <!-- Begin - actions -->
      <div class="text-right">

        {% if content['#access']['decreto_bullet_point_attachment']['canCreate'] %}
          <!-- Begin - create from files -->
          <a
            href="{{ path('decreto_content_modify.bps_add_from_files', {'meeting': node.id()}) }}"
            class="btn btn-primary use-ajax" data-dialog-type="modal">
            {{ "Create point from files" | trans }}
          </a>
          <!-- End - create from files -->
        {% endif %}

        <!-- Begin - create manually -->
        <a
          href="{{ path('decreto_content_modify.bps_add', {'meeting': node.id()}) }}"
          class="btn btn-primary use-ajax" data-dialog-type="modal">
          {{ "Create point" | trans }}
        </a>
        <!-- End - create manually -->

      </div>
      <!-- End - actions -->
    {% endif %}

    <!-- Begin - information -->
    <div>
      <h4><strong>{{ content.field_decreto_meet_type }}</strong></h4>

      {{ content.body }}
      {#      {{ decreto_help_message.meeting_agenda }}#}
    </div>
    <!-- End - information -->

    <!-- Begin - actions -->
    <div class="text-right">
      <div class="action-list action-list--increased-element-distance">

        {% if content['#access']['canEdit'] %}
          <!-- Begin - turn on/off switch mode -->
          <button class="action-list__button action-list__button--pale action-list__button--small" id="meeting-agenda-switch-mode-toggle">
        <span
          class="material-icons">unfold_more</span> {{ "Turn on/off switch mode" | trans }}
          </button>
          <!-- End - turn on/off switch mode -->
        {% endif %}

        <!-- Begin - open/close all -->
        <button class="action-list__button action-list__button--pale action-list__button--small js-bulletpoint-toggle-all">
          <span class="material-icons">unfold_less</span>
          {{ "Open/close all points" | trans }}
        </button>
        <!-- End - open/close all -->

      </div>
    </div>
    <br>
    <!-- End - actions -->

    <div id="agenda-overview">
      {% if not node.field_decreto_meet_bps.value %}
        <div>
          {{ "No bullet points added. Would you like to" | trans}}
          <a
            href="{{ path('decreto_content_modify.bps_add', {'meeting': node.id()}) }}"
            class="use-ajax" data-dialog-type="modal">
            {{ "create one" | trans }}
          </a>
          ?
        </div>
      {% else %}
        {{ content.field_decreto_meet_bps }}
      {% endif %}
    </div>

    {% if content['#access']['canEdit'] %}
      <div id="agenda-item-reorder" class="hidden">
        <div class="region region-action-box__primary">
          {{ items_reorder_form }}
        </div>
      </div>
    {% endif %}

  </div>
</article>
