{%
  set classes = [
    'action-box',
    'action-box--' ~ configuration.provider|clean_class,
    'action-box--' ~ plugin_id|clean_class,
  ]
%}
<section{{ attributes.addClass(classes) }}>

  {{ title_prefix }}
  {% if label %}
    <div class="action-box__heading">
      <h2{{ title_attributes.addClass('action-box__heading__title') }}>{{ label }}</h2>
    </div>
  {% endif %}
  {{ title_suffix }}

  {% block content %}
    <div class="action-box-counters">
      <a href="{{ content['#current_organisation_popup_path'] }}" class="action-box-counters__item element-wrapper-link use-ajax" data-dialog-type="modal">
        <div class="action-box-counters__item__number">
          {{ content['#current_organisation'] }}
        </div>
        <div class="action-box-counters__item__description">
          {{ 'This organisation' | trans }}
        </div>
      </a>

      <a href="{{ content['#other_organisations_popup_path'] }}" class="action-box-counters__item element-wrapper-link use-ajax" data-dialog-type="modal">
        <div class="action-box-counters__item">
          <div class="action-box-counters__item__number">
            {{ content['#other_organisations'] }}
          </div>
          <div class="action-box-counters__item__description">
            {{ 'Other organisations' | trans }}
          </div>
        </div>
      </a>
    </div>
  {% endblock %}

</section>

