<div class="bulletpoint bulletpoint--attachment" data-decreto-node-id="{{ node.id }}">

  <!-- Begin - bar -->
  <div class="bulletpoint__bar">

    <!-- Begin - toggler -->
    <button
      class="bulletpoint__toggler js-bulletpoint-toggle-bulletpoint"></button>
    <!-- End - toggler -->

    <!-- Begin - meta -->
    <div class="bulletpoint__meta">
      {{ label }}

      <!-- Begin - icon list -->
      <div class="action-list">

        {# Begin - notes #}
        {% if content['#contains_notes'] %}
          <button class="action-list__button action-list__button--info">
          <span class="material-icons"
                title="{{ 'This meeting has notes' | trans }}"
                data-toggle="tooltip">chat</span>
          </button>
        {% endif %}
        {# End - notes #}

      </div>
      <!-- End - icon list -->

    </div>
    <!-- End - meta -->

    <!-- Begin - actions -->
    <div class="action-list">

      <!-- Begin - delete -->
      {% if content['#access']['canDelete'] %}
        <a
          href="{{ path('decreto_content_modify.bpas_delete', {'node': node.id()}) }}"
          title="{{ "Delete bullet point attachment" | trans }}"
          data-toggle="tooltip"
          class="action-list__button use-ajax" data-dialog-type="modal">
          <span class="material-icons">remove_circle</span>
        </a>
      {% endif %}
      <!-- End - delete -->

      <!-- Begin - edit -->
      {% if content['#access']['canEdit'] %}
        <a
          href="{{ path('decreto_content_modify.bpas_edit', {'bullet_point_attachment': node.id()}) }}"
          title="{{ "Edit bullet point attachment" | trans }}" class="action-list__button use-ajax"
          data-toggle="tooltip"
          data-dialog-type="modal">
          <span class="material-icons">edit</span>
        </a>
      {% endif %}
      <!-- End - edit -->

    </div>
    <!-- End - actions -->

  </div>
  <!-- End - bar -->

  <!-- Begin - content -->
  <div class="bulletpoint__content">

    {% if node.field_decreto_bpa_html.entity.uri.value %}
      <a
        href="{{ path('decreto_content_modify.bpas_modal', {'bullet_point_attachment': node.id()}) }}"
        title="{{ "Open in popup" | trans }}" class="btn btn-secondary btn-sm use-ajax"
        data-dialog-type="modal">Open in popup</a>
    {% elseif node.field_decreto_bpa_file.entity.uri.value %}
      {{ 'Download file:' | trans }} {{ content.field_decreto_bpa_file }}
    {% else %}
      <div>
        {{ content }}
      </div>
    {% endif %}

  </div>
  <!-- End - content -->

</div>
