<div class="bulletpoint" data-decreto-node-id="{{ node.id }}">

  <!-- Begin - bar -->
  <div class="bulletpoint__bar">

    <!-- Begin - toggler -->
    <button
      class="bulletpoint__toggler js-bulletpoint-toggle-bulletpoint"></button>
    <!-- End - toggler -->

    <!-- Begin - meta -->
    <div class="bulletpoint__meta">
      {{ label }}

      <!-- Begin - icon list -->
      <div class="action-list">

        {# Begin - notes #}
        {% if content['#contains_notes'] %}
          <button class="action-list__button action-list__button--info">
          <span class="material-icons"
                title="{{ 'This bullet point has notes' | trans }}"
                data-toggle="tooltip">chat</span>
          </button>
        {% endif %}
        {# End - notes #}

        {# Begin - memos #}
        {% if content['#contains_memos'] %}
          <a
            href="{{ path('decreto_content_modify.bp_memos', {'bullet_point': node.id}) }}"
            title="{{ "Read memos" | trans }}"
            class="action-list__button use-ajax"
            data-dialog-type="modal">
            <span class="material-icons"
                  title="{{ 'This bullet point has memos' | trans }}"
                  data-toggle="tooltip">
              mail
            </span>
          </a>
        {% endif %}
        {# End - notes #}

        {# Start - closed #}
        {% if node.field_decreto_bp_closed.value %}
          <button class="action-list__button action-list__button--info">
            <span class="material-icons"
                  title="{{ 'Closed bullet point' | trans }}"
                  data-toggle="tooltip">
              lock
            </span>
          </button>
        {% endif %}
        {# End - closed #}

        {# Start - personal #}
        {% if node.field_decreto_bp_personal.value %}
          <button class="action-list__button action-list__button--info">
            <span class="material-icons"
                  title="{{ 'Personal bullet point' | trans }}"
                  data-toggle="tooltip">
              person
            </span>
          </button>
        {% endif %}
        {# End - personal #}

      </div>
      <!-- End - icon list -->

    </div>
    <!-- End - meta -->

    <!-- Begin - actions -->
    <div class="action-list">

      <!-- Begin - open/close -->
      <button
        class="action-list__button js-bulletpoint-toggle-attachments"
        data-bullet-point-id="{{ node.id() }}" data-toggle="tooltip"
        title="{{ "Open/close bullet point attachment" | trans }}">
        <span class="material-icons">unfold_more</span>
      </button>
      <!-- End - open/close -->

      {% if content['#access']['decreto_bullet_point_attachment']['canCreate'] %}
        <!-- Begin - add bulletpoint attachment -->
        <a
          href="{{ path('decreto_content_modify.bpas_add', {'bullet_point': node.id()}) }}"
          data-toggle="tooltip"
          title="{{ "Add bullet point attachment" | trans }}"
          class="action-list__button use-ajax"
          data-dialog-type="modal">
          <span class="material-icons">add_circle</span>
        </a>
        <!-- End - add bulletpoint attachment -->
      {% endif %}

      {% if content['#access']['canDelete'] %}
        <!-- Begin - delete bulletpoint -->
        <a
          href="{{ path('decreto_content_modify.bps_delete', {'node': node.id()}) }}"
          data-toggle="tooltip" title="{{ "Delete bullet point" | trans }}"
          class="action-list__button use-ajax" data-dialog-type="modal">
          <span class="material-icons">remove_circle</span>
        </a>
        <!-- End - delete bulletpoint -->
      {% endif %}

      {% if content['#access']['canEdit'] %}
        <!-- Begin - edit -->
        <a
          href="{{ path('decreto_content_modify.bps_edit', {'bullet_point': node.id()}) }}"
          data-toggle="tooltip"
          title="{{ "Edit bullet point" | trans }}"
          class="action-list__button use-ajax"
          data-dialog-type="modal">
          <span class="material-icons">edit</span>
        </a>
        <!-- End - edit -->
      {% endif %}

      <!-- Begin - memos -->
      <a
        href="{{ path('decreto_content_modify.memos_add_edit', {'bullet_point': node.id()}) }}"
        data-toggle="tooltip"
        title="{{ "Add/edit memos" | trans }}"
        class="action-list__button use-ajax"
        data-dialog-type="modal">
        <span class="material-icons">mail</span>
      </a>
      <!-- End - memos -->

    </div>
    <!-- End - actions -->

  </div>
  <!-- End - bar -->

  <!-- Begin - body -->
  <div class="bulletpoint__content">
    {% if not node.field_decreto_bp_bpas.value %}
      <div class="bulletpoint__empty-text">
        {{ "No bullet point attachment added. Would you like to" | trans}}
        <a
          href="{{ path('decreto_content_modify.bpas_add', {'bullet_point': node.id()}) }}"
          title="{{ "Add bullet point attachment" | trans }}"
          class="use-ajax"
          data-dialog-type="modal">
          {{ "create one" | trans}}
        </a>
        ?
      </div>
    {% else %}
      {{ content|without('field_decreto_bp_closed', 'field_decreto_bp_personal') }}
    {% endif %}
  </div>
  <!-- End - body -->

</div>
